.floating-panel {
  z-index: 0;
  position: absolute;
  margin: 12px;
  left: 0;
  border: 2px solid rgb(210,225,240);
  border-radius: 8px;
  box-shadow: 2px 2px 1px #555;
}

/*
 * full screen svg
 */

.main {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * thumbnail browser
 */

.thumb {
  bottom: 0;
  height: 25%;
  width: auto;
}

#scope-container {
  z-index: 1;
  border: 2px solid #000;
  box-shadow: unset;
}

/*
 * control panel
 */

 #control-panel {
  top: 0;
  height: 25%;
  width: 500px;
  padding: 6px;
  background: rgba(225,235,245,0.5);
  transition: transform 250ms ease-in-out;
}

/*
 * control panel open/close
 * based on https://codepen.io/plavookac/pen/qomrMw?editors=1100
 */

#control-toggle {
  box-sizing: border-box;
  display: none;
}

#control-toggle:checked ~ #control-panel {
  /*
   * width: 500px + 2 * (padding: 6px) + 2 * (border: 2px) + 1 * (margin: 12px) + box-shadow: 2px
   */
  transform: translateX(-530px);
}

#control-toggle:checked ~ #control-toggle-icon {
  transform: translateX(-530px);
}

#control-toggle-icon {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 26px;
  left: 530px;
  height: 22px;
  width: 22px;
  transition: transform 250ms ease-in-out;
}

.toggler {
  position: relative;
  float: left;
  box-sizing: border-box;
  transition: all 0.3s;
  height: 3px;
  width: 100%;
  background-color: #555;
}

.horizontal {
  margin-top: 3px;
  opacity: 0;
}
.diagonal.part-1 {
  transform: rotate(135deg);
  margin-top: 8px;
}
.diagonal.part-2 {
  transform: rotate(-135deg);
  margin-top: -9px;
}
#control-toggle:checked ~ #control-toggle-icon > .horizontal {
  opacity: 1;
}
#control-toggle:checked ~ #control-toggle-icon > .diagonal.part-1 {
  transform: unset;
  margin-top: 0;
}
#control-toggle:checked ~ #control-toggle-icon > .diagonal.part-2 {
  transform: unset;
  margin-top: 3px;
}

/*
 * primary input text
 */

#main-input {
  width: 100%;
  color: #555;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}


/*
 * spinner
 *
 * based on: // TODO: move to JS
 * https://dev.to/wangonya/displaying-a-css-spinner-on-ajax-calls-with-fetch-api-4ndo
 */

 #spinner {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(85,85,85,0.1);
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid rgb(210,225,240);
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
 * misc
 */

a {
  text-decoration: none;
}

.external-link {
  display: none;
}

.autocomplete-suggestion {
  color: #555;
}

.autocomplete-suggestion b {
  color: #000;
}
