.floating-panel {
  z-index: 0;
  position: absolute;
  border: 2px solid rgba(210,225,240,1);
  border-radius: 8px;
}

.main {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thumb {
  bottom: 2%;
  left: 2%;
  height: 25%;
  width: auto;
}

#scope-container {
  z-index: 1;
  border: 2px solid rgba(0, 0, 0, 0);
}


/*
 * control panel
 */

#control-panel {
  top: 2%;
  left: 2%;
  height: 25%;
  width: auto;
  background: rgba(225,235,245,0.75);
}

.input {
  color: #555;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
